# Static project files
/env/
/tests/django_test/env/

# Test files
/tests/django_test/django_app/templates/test.html

# Python files
.Python
.python-version
*.pyc
__pycache__
pip-selfcheck.json

# Build files
*.egg-info/
/build/
/dist/

# OS and project files
*sqlite3
*djlsp.log
.DS_Store
.mypy_cache
.template-version
.vscode
.pytest_cache/
.env
*.swp
.idea/
/.helix/

# Coverage
.coverage
coverage.xml
htmlcov/
