name: tests

on:
  push:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - python-version: "3.10"
            toxenv: "django42,django50,django51,django52"
          - python-version: "3.11"
            toxenv: "django42,django50,django51,django52"
          - python-version: "3.12"
            toxenv: "django42,django50,django51,django52,django60"
          - python-version: "3.13"
            toxenv: "django42,django50,django51,django52,django60"
          - python-version: "3.14"
            toxenv: "django42,django50,django51,django52,django60"
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: make develop
      - name: Run tests
        env:
          TOXENV: ${{ matrix.toxenv }}
        run: make test
